* {
    margin: 0px;
    padding: 0px;
}

green {
    font-weight: bold 20px color: blue;
}

Raspberry {
    font-weight: bold 30px Tahoma color: green;
}

blue {
    color: yellow;
}

cranberry {
    color: orange;
    font-weight: 20px;
}

body {
    text-align: center;
}
