    * {
        border-width: 2px;
        border-color: green;
        border-style: solid;
        margin: 20px;
        padding: 10px;
    }
    
    p {
        background-color: C5F5E2 height: 250px;
        width: 1800px;
        padding: 10px;
        border-radius: 40%;
    }
    
    body {
        font-size: 18px;
        font-family: cursive;
    }
    
    p.greentea {
        font-weight: 20px;
        color: blue;
        font-size: 18px;
        background-color: 2CBFF9
    }
    
    p.Raspberry {
        font-weight: 30px Tahoma;
        color: green;
        font-size: 18px;
    }
    
    p.blueberry {
        color: red;
        font-size: 18px;
        font-weight: 20px;
        background-color: 2CBFF9
    }
    
    p.cranberry {
        color: orange;
        font-weight: 20px;
        font-size: 18px;
    }
    
    .header1 {
        background-color: green;
    }
