        body {
            border-width: 2px;
            border-color: blue;
            border-style: solid;
            margin: 20px;
            padding: 10px;
            background-color: 020202;
            font-size: 18px;
            font-family: cursive;
        }
        
        p {
            height: 250px;
            width: 1150px;
            padding: 20px;
            border-top-right-radius: 50%;
            background-color: 28F2CD;
        }
        
        h2 {
            background-color: 2CF951;
        }
        
        p.greentea {
            font-weight: 20px;
            color: blue;
            font-size: 18px;
            background-color: 2CBFF9
        }
        
        p.Raspberry {
            font-weight: 30px Tahoma;
            color: green;
            font-size: 18px;
        }
        
        p.blueberry {
            color: red;
            font-size: 18px;
            font-weight: 20px;
            background-color: 2CBFF9
        }
        
        p.cranberry {
            color: orange;
            font-weight: 20px;
            font-size: 18px;
        }
        
        .header1 {
            background-color: green;
        }
