* {
    text-align: center;
}

body {
    background-color: #ffff00;
}

div.circle1 {
    background-color: #e65a41;
    width
: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -75;
    left: 130px;
    font-size: 0.8em;
}
div.circle2 {
    background-color: #623108;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 90px;
    font-size: 0.8em;
}

div.circle3 {
    background-color: #ffffff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 300px;
    font-size: 0.8em;
}

div.circle4 {
    background-color: #623108;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 0.8em;
}

div.circle5 {
    background-color: #623108;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    right: 300px;
    font-size: 0.8em;
}

div.circle6 {
    background-color: #e65a41;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 290px;
    font-size: 0.8em;
}
