* {
    text-align: center;
}

body {
    background-color: #ffff00;
}

div.circle1 {
    box-sizing: border-box;
    background-color: #e65a41;
    width: 300px;
    height: 300px;
    padding-top: 90px;
    border-radius: 50%;
    position: absolute;
    top: -75;
    left: 130px;
    font-size: 0.8em;
}

div.circle2 {
    background-color: #623108;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 90px;
    font-size: 0.8em;
    padding-top: 80px;
    padding-left: 40px;
}

div.circle3 {
    background-color: #ffffff;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding-top: 90px;
    position: absolute;
    top: 200px;
    left: 300px;
    font-size: 0.8em;
}

div.circle4 {
    background-color: #623108;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    padding-top: 30px;
    padding-left: 10px;
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 0.8em;
}

div.circle5 {
    background-color: #623108;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    bottom: 100px;
    right: 220px;
    padding-top: 5px;
    padding-left: 3px;
    font-size: 0.8em;
}

div.circle6 {
    background-color: #f6e652;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    bottom: -60px;
    left: 290px;
    font-size: 0.8em;
}
