* {
    text-align: center;
}

body {
    background-color: #ffff00;
}

div.circle1 {
    background-color: #e65a41;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -75;
    left: 130px;
    font-size: 0.8em;
}
